@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Thin'), local('i-Roboto-100'), url("../media/fonts/Roboto/woff2/Thin.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Thin.woff") format('woff'), url("../media/fonts/Roboto/ttf/Thin.ttf") format('ttf');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Light'), local('i-Roboto-300'), url("../media/fonts/Roboto/woff2/Light.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Light.woff") format('woff'), url("../media/fonts/Roboto/ttf/Light.ttf") format('ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Regular'), local('i-Roboto-400'), url("../media/fonts/Roboto/woff2/Regular.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Regular.woff") format('woff'), url("../media/fonts/Roboto/ttf/Regular.ttf") format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Medium'), local('i-Roboto-500'), url("../media/fonts/Roboto/woff2/Medium.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Medium.woff") format('woff'), url("../media/fonts/Roboto/ttf/Medium.ttf") format('ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Bold'), local('i-Roboto-700'), url("../media/fonts/Roboto/woff2/Bold.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Bold.woff") format('woff'), url("../media/fonts/Roboto/ttf/Bold.ttf") format('ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Black'), local('i-Roboto-900'), url("../media/fonts/Roboto/woff2/Black.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Black.woff") format('woff'), url("../media/fonts/Roboto/ttf/Black.ttf") format('ttf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

html,
body {
  font-family: 'i-Roboto', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  display: block;
}

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  min-height: 100%;
}

section {
  position: relative;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
}

[class*='__section--background'] {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'i-Roboto', sans-serif;
  letter-spacing: normal;
  color: #2f2f2f;
  line-height: 141%;
  margin: unset;
}

h2 {
  font-family: 'i-Roboto', sans-serif;
  letter-spacing: normal;
  color: #2f2f2f;
  line-height: 141%;
  margin: unset;
}

h3 {
  font-family: 'i-Roboto', sans-serif;
  letter-spacing: normal;
  color: #2f2f2f;
  line-height: 141%;
  margin: unset;
}

h4 {
  font-family: 'i-Roboto', sans-serif;
  letter-spacing: normal;
  color: #2f2f2f;
  line-height: 141%;
  margin: unset;
}

h5 {
  font-family: 'i-Roboto', sans-serif;
  letter-spacing: normal;
  color: #2f2f2f;
  line-height: 141%;
  margin: unset;
}

h6 {
  font-family: 'i-Roboto', sans-serif;
  letter-spacing: normal;
  color: #2f2f2f;
  line-height: 141%;
  margin: unset;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

p {
  font-family: 'i-Roboto', sans-serif;
  font-size: 0.88rem;
  color: #2f2f2f;
  letter-spacing: normal;
  margin: 0;
}

a,
a:hover {
  letter-spacing: normal;
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  font-style: normal;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  max-width: 100%;
  height: auto;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

picture {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 0;
}

input:required,
input:invalid {
  box-shadow: none;
}

input[type=file]::-webkit-file-upload-button {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  width: 0;
}

.height-true {
  height: auto;
}

.height-false {
  height: 0;
}

.opacity-true {
  opacity: 1;
}

.opacity-false {
  opacity: 0;
}

.display-true {
  display: -ms-grid;
  display: grid;
}

.display-false {
  display: none;
}

.item-true {
  display: -ms-grid;
  display: grid;
}

.item-false {
  display: none;
}

.view-true {
  visibility: visible;
}

.view-false {
  visibility: hidden;
}

.DELETE {
  display: none !important;
}

.DEL {
  display: none !important;
}

input:disabled,
textarea:disabled {
  background-color: rgba(0,0,0,0);
}

.img-liquid {
  display: block;
  max-width: 100%;
  height: auto;
}

.align-self-center {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
  align-self: center;
}

.ttu {
  text-transform: uppercase;
}

.optional__section,
.plugins__section,
.null-to-null {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
}

.inline-svg__init {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  display: -ms-inline-grid;
  display: inline-grid;
  visibility: visible;
}

[class*='glyphs__'] {
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.glyphs__my-checked {
  width: 1rem;
  height: 1rem;
  fill: rgba(0,0,0,0);
  stroke: #f6486c;
}

.space-1,
.space-2,
.space-3 {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eee;
  border-left: 0;
  border-right: 0;
  border: 1px solid #bbb;
  font-size: 5rem;
}

.space-1:before,
.space-2:before,
.space-3:before {
  display: -ms-grid;
  display: grid;
  color: #ccc;
  line-height: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 320.98px) {
  .space-1:before,
  .space-2:before,
  .space-3:before {
    font-size: 0.5em;
  }
}

.space-1 {
  height: 33vh;
}

.space-1:before {
  content: 'SPACE-1';
}

.space-2 {
  height: 66vh;
}

.space-2:before {
  content: 'SPACE-2';
}

.space-3 {
  height: 99vh;
}

.space-3:before {
  content: 'SPACE-3';
}

.__device__ {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 5%;
  margin: auto;
  font-size: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 9999;
}

.__device__:before {
  content: '000';
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background-color: #f1f1f1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #0f0f0f;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: normal;
  position: absolute;
  border-radius: 0.4375rem 0.4375rem 0.4375rem 0.4375rem;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  width: auto;
  height: auto;
  padding: 0.25rem 1rem;
  opacity: 0.54;
}

@media (max-width: 2560.98px) {
  .__device__:before {
    content: '2560';
  }
}

@media (max-width: 1920.98px) {
  .__device__:before {
    content: '1920';
  }
}

@media (max-width: 1600.98px) {
  .__device__:before {
    content: '1600';
  }
}

@media (max-width: 1440.98px) {
  .__device__:before {
    content: '1440';
  }
}

@media (max-width: 1366.98px) {
  .__device__:before {
    content: '1366';
  }
}

@media (max-width: 1199.98px) {
  .__device__:before {
    content: '1199';
  }
}

@media (max-width: 991.98px) {
  .__device__:before {
    content: '991';
  }
}

@media (max-width: 768.98px) {
  .__device__:before {
    content: '768';
  }
}

@media (max-width: 678.98px) {
  .__device__:before {
    content: '678';
  }
}

@media (max-width: 575.98px) {
  .__device__:before {
    content: '575';
  }
}

@media (max-width: 425.98px) {
  .__device__:before {
    content: '425';
  }
}

@media (max-width: 320.98px) {
  .__device__:before {
    content: '320';
  }
}

.__device__:hover:before {
  opacity: 1;
  color: #ff6347;
  background-color: #fff;
}

.myheader__burger {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 768.98px) {
  .myheader__burger {
    display: -ms-grid;
    display: grid;
  }
}

.myheader__menu {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.4rem;
  padding: 1rem;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.myheader__menu:before {
  content: '';
  display: -ms-grid;
  display: grid;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  background-color: rgba(221,221,221,0.5);
  position: absolute;
  left: -35%;
  top: 50%;
  -webkit-transform: translate(50%, -50%) scale(0);
  -ms-transform: translate(50%, -50%) scale(0);
  transform: translate(50%, -50%) scale(0);
  border-radius: 100% 100% 100% 100%;
}

.myheader__menu-line {
  background-color: #ff6347;
  color: #ff6347;
  height: 0.25rem;
  width: 2.0625rem;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 2;
}

.myheader__navigat {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.5rem 0;
  grid-gap: 0.8rem;
}

@media (max-width: 768.98px) {
  .myheader__navigat {
    grid-gap: unset;
  }
}

.myheader__navigat--clone {
  padding: unset;
}

@media (min-width: 768.98px) {
  .myheader__navigat--clone {
    display: none;
    overflow: hidden;
  }
}

.myheader__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2rem;
}

@media (max-width: 768.98px) {
  .myheader__list {
    grid-gap: 1rem;
  }
}

@media (max-width: 768.98px) {
  .myheader__list {
    height: 0;
    min-height: 0;
    overflow: hidden;
    grid-auto-flow: row;
    grid-auto-columns: -webkit-min-content;
    grid-auto-columns: min-content;
    -webkit-transition: all 0.33s ease;
    transition: all 0.33s ease;
    padding: 0 1.2rem 0 2rem;
  }
}

.myheader__list-item {
  text-decoration: none;
  color: #4a4a4a;
  font-family: 'i-Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.myheader__list-item:after {
  content: '';
  display: -ms-grid;
  display: grid;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 0.125rem solid #ff6347;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media (max-width: 768.98px) {
  .myheader__list-item:hover {
    margin-left: 0.5rem;
  }
}

.myheader__list-item:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.myheader__list.open {
  padding: 1.8rem 2rem;
}

.myheader__menu:hover:before {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translate(50%, -50%) scale(1);
  -ms-transform: translate(50%, -50%) scale(1);
  transform: translate(50%, -50%) scale(1);
}

.anima-smooth-height {
  -webkit-animation: anima-smooth-height 0.44s forwards;
  animation: anima-smooth-height 0.44s forwards;
}

@-moz-keyframes anima-smooth-height {
  0% {
    min-height: 0;
    padding-bottom: 0;
  }

  100% {
    min-height: 100%;
    padding-bottom: 10rem;
  }
}

@-webkit-keyframes anima-smooth-height {
  0% {
    min-height: 0;
    padding-bottom: 0;
  }

  100% {
    min-height: 100%;
    padding-bottom: 10rem;
  }
}

@-o-keyframes anima-smooth-height {
  0% {
    min-height: 0;
    padding-bottom: 0;
  }

  100% {
    min-height: 100%;
    padding-bottom: 10rem;
  }
}

@keyframes anima-smooth-height {
  0% {
    min-height: 0;
    padding-bottom: 0;
  }

  100% {
    min-height: 100%;
    padding-bottom: 10rem;
  }
}

.myheader__menu.open .myheader__menu-line:nth-child(1) {
  -webkit-transform: translateX(4px);
  -ms-transform: translateX(4px);
  transform: translateX(4px);
}

.myheader__menu.open .myheader__menu-line:nth-child(2) {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.myheader__menu.open .myheader__menu-line:nth-child(3) {
  -webkit-transform: translateX(-4px);
  -ms-transform: translateX(-4px);
  transform: translateX(-4px);
}

.preloader__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  margin-left: auto;
  margin-right: auto;
}

.preloader__item {
  background-color: #fff;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 100% 100% 100% 100%;
  margin: 0.1875rem;
  margin-bottom: 0;
  -webkit-animation: anima-dots 1s infinite;
  animation: anima-dots 1s infinite;
}

.preloader__item:nth-child(1) {
  -webkit-animation-delay: 0.24s;
  animation-delay: 0.24s;
}

.preloader__item:nth-child(2) {
  -webkit-animation-delay: 0.48s;
  animation-delay: 0.48s;
}

.preloader__item:nth-child(3) {
  -webkit-animation-delay: 0.72s;
  animation-delay: 0.72s;
}

@-moz-keyframes anima-dots {
  50% {
    transform: scale(1.1) translate(0, -4px);
  }
}

@-webkit-keyframes anima-dots {
  50% {
    -webkit-transform: scale(1.1) translate(0, -4px);
    transform: scale(1.1) translate(0, -4px);
  }
}

@-o-keyframes anima-dots {
  50% {
    transform: scale(1.1) translate(0, -4px);
  }
}

@keyframes anima-dots {
  50% {
    -webkit-transform: scale(1.1) translate(0, -4px);
    transform: scale(1.1) translate(0, -4px);
  }
}

.loader__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  background-color: #ff6347;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  box-shadow: 0 13px 28px rgba(255,74,42,0.44), 0 6px 10px rgba(255,63,29,0.44);
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 13%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.4375rem 0.875rem;
  border: 1px solid #ff6347;
  opacity: 1;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.loader__text {
  font-family: 'i-Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
}

.loader__box.hidden {
  border: 1px solid #00d940;
  background-color: #00d940;
  box-shadow: 0 13px 28px #00c53a, 0 6px 10px #00bd38;
  -webkit-animation: anima-opacity 1s 1s forwards;
  animation: anima-opacity 1s 1s forwards;
}

@-moz-keyframes anima-opacity {
  100% {
    bottom: -100%;
  }
}

@-webkit-keyframes anima-opacity {
  100% {
    bottom: -100%;
  }
}

@-o-keyframes anima-opacity {
  100% {
    bottom: -100%;
  }
}

@keyframes anima-opacity {
  100% {
    bottom: -100%;
  }
}

.scrollup__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,0);
  bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  fill: #f44336;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.5rem;
  position: fixed;
  border-radius: 0.4375rem 0.4375rem 0.4375rem 0.4375rem;
  right: 3%;
  z-index: 123;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.scrollup__box:hover {
  background-color: #f44336;
  border: 1px solid #f44336;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  fill: #fff;
}

.scrollup__d-scrollup {
  width: 2rem;
  height: 2rem;
}

.scrollup__box.show {
  -webkit-transform: translateY(-75%);
  -ms-transform: translateY(-75%);
  transform: translateY(-75%);
}

.scrollup__box.show:active {
  -webkit-transform: translateY(-75%) scale(0.9);
  -ms-transform: translateY(-75%) scale(0.9);
  transform: translateY(-75%) scale(0.9);
}

.unknown-page__section--background {
  background-size: cover;
  background-position: center center;
  background-color: rgba(0,0,0,0);
}

.unknown-page__box {
  display: -ms-grid;
  display: grid;
  grid: 1fr/0.4fr 0.6fr;
  min-height: 88vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-gap: 5rem;
  max-width: 87.5rem;
  margin: auto;
}

@media (max-width: 992.98px) {
  .unknown-page__box {
    grid: auto/repeat(auto-fit, minmax(19rem, auto));
    padding: 0 1rem;
    grid-gap: 1rem;
  }
}

.unknown-page__left {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  padding: 1rem;
}

@media (max-width: 678.98px) {
  .unknown-page__left {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
}

.unknown-page__right {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  padding: 1rem;
}

.unknown-page__symbol {
  background-color: #ddd;
  border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
  width: 2rem;
  height: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unknown-page__ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

.unknown-page__href {
  font-weight: 700;
  color: #f44336;
  font-size: 1.2rem;
  display: -ms-inline-grid;
  display: inline-grid;
}

.unknown-page__href:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.unknown-page__href:after {
  content: '';
  display: -ms-grid;
  display: grid;
  border-bottom: 0.125rem solid #f44336;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.unknown-page__title {
  display: -ms-grid;
  display: grid;
  color: #2f2f2f;
}

.unknown-page__h2 {
  display: -ms-grid;
  display: grid;
  color: #f44336;
}

.myheader__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  max-width: 87.5rem;
  margin: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (max-width: 768.98px) {
  .myheader__box {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 678.98px) {
  .myheader__box {
    grid-auto-columns: 1fr auto;
  }
}

.myheader__section--background {
  background-color: #fff;
}

.myheader__item {
  display: -ms-grid;
  display: grid;
}

.myfooter__section--background {
  background-color: #0f0f0f;
}

.myfooter__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2.8125rem 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.myfooter__item {
  display: -ms-grid;
  display: grid;
}

.myfooter__title {
  color: #fff;
}

.myfooter__text {
  color: #fff;
}

main {
  padding-right: 5%;
  padding-left: 5%;
}

@media (max-width: 678.98px) {
  main {
    padding-left: unset;
    padding-right: unset;
  }
}

.startpage__section--background {
  background-color: #ccc;
}

.startpage__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  max-width: 75rem;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3rem 0;
}

.startpage__item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.startpage__href {
  padding: 0.5625rem 1.6875rem;
  background-color: #ff6347;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0.125rem solid rgba(0,0,0,0);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 2rem 1rem;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.startpage__href:hover {
  border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
  background-color: #ff4d2d;
  font-weight: bold;
  border: 0.125rem solid #ff6347;
}

.startpage__href:active {
  background-color: #ff3c19;
  color: #fff;
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

.geturl__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  min-height: 14vh;
  grid-gap: 2rem;
  margin-bottom: 4vh;
}

.geturl__pasturl {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 1rem;
}

@media (max-width: 678.98px) {
  .geturl__pasturl {
    grid-auto-flow: row;
  }
}

.geturl__button {
  padding: 0.5625rem 1.6875rem;
  background-color: #ff6347;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0.125rem solid rgba(0,0,0,0);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.geturl__button:hover {
  border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
  background-color: #ff4d2d;
  font-weight: bold;
  border: 0.125rem solid #ff6347;
}

.geturl__button:active {
  background-color: #ff3c19;
  color: #fff;
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

.geturl__label,
.geturl__input {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5625rem 1.6875rem;
  background-color: #eee;
  color: #333;
  border: 0.125rem solid rgba(0,0,0,0);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.geturl__label:hover,
.geturl__input:hover {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #e4e4e4;
  border: 0.125rem solid #ff6347;
}

.geturl__label::-webkit-input-placeholder,
.geturl__input::-webkit-input-placeholder {
  color: #ff6347;
}

.geturl__label::-moz-placeholder,
.geturl__input::-moz-placeholder {
  color: #ff6347;
}

.geturl__label:-ms-input-placeholder,
.geturl__input:-ms-input-placeholder {
  color: #ff6347;
}

.geturl__label::-ms-input-placeholder,
.geturl__input::-ms-input-placeholder {
  color: #ff6347;
}

.geturl__label::placeholder,
.geturl__input::placeholder {
  color: #ff6347;
}

.geturl__input {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.geturl__input:focus {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #e4e4e4;
  border: 0.125rem solid #ff6347;
}

.geturl__label {
  text-transform: none;
}

.geturl__label:hover {
  border: 0.125rem solid rgba(0,0,0,0);
}

.geturl__symbol-title,
.geturl__table-title {
  border-bottom: 1px solid #ccc;
}

.geturl__symbol,
.geturl__table {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.geturl__symbol--size {
  min-height: 14vh;
  max-height: 55vh;
  overflow-y: scroll;
  border-left: 0.3125rem solid rgba(0,0,0,0);
  color: #333;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.geturl__symbol--size:hover {
  border-left: 0.3125rem solid #ff6347;
}

.geturl__symbol-item,
.geturl__table-item {
  padding: 0.7rem 1.4rem;
}

@media (max-width: 678.98px) {
  .geturl__symbol-item,
  .geturl__table-item {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
  }

  .geturl__symbol-item:not(:first-child),
  .geturl__table-item:not(:first-child) {
    -ms-grid-column-align: end;
    justify-self: end;
  }
}

.geturl__symbol-group,
.geturl__table-group {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 3rem;
  grid-auto-columns: 4fr 1fr;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.geturl__symbol-group:hover,
.geturl__table-group:hover {
  background-color: #eee;
}

@media (max-width: 678.98px) {
  .geturl__symbol-group,
  .geturl__table-group {
    grid-gap: 1rem;
    grid-auto-columns: 1fr;
  }
}

.geturl__symbol-group {
  grid-auto-columns: 3fr 1fr 1fr;
}

@media (max-width: 678.98px) {
  .geturl__symbol-group {
    grid-gap: 1rem;
    grid-auto-columns: 1fr;
  }
}

.grab__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
}

.grab__colored {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #eee;
  min-height: 14vh;
  margin-bottom: 14vh;
  padding: 1.5rem 1.2rem;
  max-height: 55vh;
  overflow: hidden;
  overflow-y: scroll;
  font-family: 'i-Roboto', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #333;
}

.grab__colored p {
  font-family: 'i-Roboto', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #ccc;
}

.grab__colored a {
  font-family: 'i-Roboto', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #ff6347;
}

.grab__colored binary {
  display: none;
}

.grab__error {
  font-family: 'i-Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #ff6347;
}

.grab__wait {
  font-family: 'i-Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #4285f4;
}

html,
body {
  visibility: visible;
  opacity: 1;
}