//============================
//    Name: Main page
//============================

$$btn-color = tomato;

main {
	padding-right: 5%;
	padding-left: 5%;
	+media(678) {
		padding-left unset
		padding-right unset
	}
}

startpage {
	+__() {
		.section--background {
			background-color #ccc;
		}
		.box {
			display: grid;
			grid-auto-flow: row;		
			max-width 1200px
			margin auto
			justify-content: center;
			align-items: center;
			padding 3rem 0
		}
		.item {
			display: grid;
			align-items: center;
			justify-content: center;
		}
		.href {
			xsize = 9px
			padding xsize (xsize * 3)
			background-color $$btn-color
			color: #fff;
			text-decoration none
			text-transform uppercase
			font-weight bold
			display: grid;
			justify-content: center;
			align-items: center;
			border 2px solid $$null
			radius: .5rem;
			margin 2rem 1rem 
			transition .25s __cubic
			&:hover {
				radius: .8rem;
				background-color darken($$btn-color, 8%);
				font-weight bold
				border 2px solid $$btn-color
			}
			&:active {
				background-color darken($$btn-color, xsize)
				color: #fff;
				transform scale(.97)
			}
		}
	}
}

geturl {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: row;
			min-height 14vh
			gap: 2rem;
			margin-bottom 4vh
		}
		.pasturl {
			display: grid;
			grid-auto-flow: column;		
			grid-auto-columns: 1fr;
			justify-content: start;
			align-items: center;
			gap: 1rem;
			+media(678) {
				grid-auto-flow: row;		
			}
		}
		.button {
			_size = 9px
			padding _size (_size * 3)
			background-color $$btn-color
			color: #fff;
			text-decoration none
			text-transform uppercase
			font-weight bold
			display: grid;
			justify-content: center;
			align-items: center;
			border 2px solid $$null
			radius: .5rem;
			transition .25s __cubic
			&:hover {
				radius: .8rem;
				background-color darken($$btn-color, 8%);
				font-weight bold
				border 2px solid $$btn-color
			}
			&:active {
				background-color darken($$btn-color, _size)
				color: #fff;
				transform scale(.97)
			}
		}
		.label,
		.input {
			text-decoration none
			text-transform uppercase
			font-weight bold
			display: grid;
			justify-content: start;
			align-items: center;
			padding: 0.5625rem 1.6875rem;
			background-color #eee;
			color: #333;
			border 2px solid $$null
			radius: .5rem;
			transition: .25s __cubic;
			&:hover {
				radius: .5rem;
				background-color darken(#eee, 4%);
				border 2px solid $$btn-color
			}
			&::placeholder {
				color: tomato;
			}
		}
		.input {
			user-select auto;
			&:focus {
				radius: .5rem;
				background-color darken(#eee, 4%);
				border 2px solid $$btn-color
			}
		}
		.label {
			text-transform none
			&:hover {
				border 2px solid $$null
			}
		}
		.symbol-title,
		.table-title {
			border-bottom 1px solid #ccc;
		}
		.symbol,
		.table {
			display: grid;
			grid-auto-flow: row;		
			justify-content: stretch;
			align-items: center;
		}
		.symbol--size {
			min-height 14vh
			max-height 55vh;
			overflow-y scroll
			border-left 5px solid #0000;
			color: #333;
			
			radius: .5rem;
			transition: .25s __cubic;
			&:hover {
				border-left 5px solid tomato;
			}
		}
		.symbol-item,
		.table-item {
			padding .7rem 1.4rem
			+media(678) {
				padding: .3rem .5rem;
				font-size: 0.8rem;
				&:not(:first-child) {
					justify-self: end;
				}
			}
		}
		.symbol-group,
		.table-group {
			display: grid;
			justify-content: center;
			align-items: center;
			grid-auto-flow: column;
			gap: 3rem;		
			grid-auto-columns: 4fr 1fr;
			transition: .25s __cubic;
			&:hover {
				background-color #eee;
			}
			+media(678) {
				gap: 1rem;
				grid-auto-columns: 1fr
			}
		}
 		.symbol-group {
 			grid-auto-columns: 3fr 1fr 1fr;
 			+media(678) {
 				gap: 1rem;
 				grid-auto-columns: 1fr
 			}
 		}
	}
}

grab {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: row;
		}
		.colored {
			radius: .5rem;
			background-color #eee;
			min-height 14vh
			margin-bottom 14vh
			padding 1.5rem 1.2rem
			max-height: 55vh;
			overflow: hidden;
			overflow-y: scroll;
			font-setup(fmain, 12, 400);
			color: #333;
			& p {
				font-setup(fmain, 12, 400);
				color: #ccc;
			}
			& a {
				font-setup(fmain, 12, 400);
				color: tomato;
			}
			& binary {
				display none
			}
		}
		.error {
			font-setup(fmain, 16, 700);
			color: tomato;
		}
		.wait {
			font-setup(fmain, 16, 700);
			color: #4285f4;
		}
	}
}