$$successShadow = #00d940;
$$loaderColor = tomato;
$$loaderColorLite = rgba(tomato, 0.44);

preloader {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: max-content
			margin-left auto
			margin-right auto
		}
		.item {
			background-color #fff
			width .2rem
			height .2rem
			radius: 100%;
			margin 3px
			margin-bottom 0
			animation anima-dots 1s infinite
		}
		itemDelai() {
			xtime = 0.24s;
			for i in 1 .. 3 {
				.item:nth-child({i}) {
					animation-delay: xtime * i;
				}
			}
		}
		itemDelai();
	}
}

+key(anima-dots) {
	50% {
		transform scale(1.1) translate(0, -4px);
	}
}

loader {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			background-color $$loaderColor
			radius: 4px;
			box-shadow: 0 13px 28px darken($$loaderColorLite, 9%),
			0 6px 10px darken($$loaderColorLite, 13%);
			position fixed
			left 50%
			transform translate(-50%, 0)
			bottom 13%
			justify-content: center;
			align-items: center;
			padding 7px 14px
			border 1px solid $$loaderColor;

			opacity 1
			transition: .25s __cubic;
		}
		.text {
			font-setup(fmain, 14, 700);
			color: #fff
		}
	}
}
.loader__box.hidden {
	border 1px solid $$successShadow;
	background-color $$successShadow
	box-shadow: 0 13px 28px darken($$successShadow, 9%),
	0 6px 10px darken($$successShadow, 13%);
	animation anima-opacity 1s 1s forwards;
}

+key(anima-opacity) {
	0% {
	}
	100% {
		bottom -100%
	}
}