<div class="loader__box">
	<p class="loader__text">Загрузка</p>
	<span class="preloader__box">
		<span class="preloader__item">&nbsp;</span>
		<span class="preloader__item">&nbsp;</span>
		<span class="preloader__item">&nbsp;</span>
	</span>
</div>
