<section class="geturl__section">
	<div class="geturl geturl__box">
		<div class="grab__item"><h2>Panel Control:</h2>
		</div>
		
		<div class="geturl__group geturl__pasturl js__seturlparam">
			<label for="myButton" class="geturl__label">&nbsp;</label>
			<input id="myButton" class="geturl__input" type="text" name="text" placeholder="write xml url here!" maxlength="23" autocomplete="off">
			<button form="myButton" class="geturl__button " title="button" role="button">button</button>

		</div>
		<div class="geturl__group geturl__table-title">
			<div class="geturl__table-group ">
				<h4 class="geturl__table-item">Task</h4>
				<h4 class="geturl__table-item">Result</h4>
			</div>
		</div>
		<div class="geturl__group geturl__table js__pastTable"></div>
		
		<div class="geturl__group geturl__symbol-title">
			<div class="geturl__symbol-group ">
				<h4 class="geturl__symbol-item">TagName</h4>
				<h4 class="geturl__symbol-item">SymbolCount</h4>
				<h4 class="geturl__symbol-item">NoSpace</h4>
			</div>
		</div>
		<div class="geturl__group geturl__symbol geturl__symbol--size js__pastSymbol"></div>
	</div>
</section>

<section class="grab__section">
	<div class="grab grab__box">
		<div class="grab__item"><h2>XML Preview:</h2>
		</div>
		<div class="grab__item grab__colored">
			<div class="js__grabxml">&nbsp;</div>
		</div>
	</div>
</section>


<div class="__device__">&nbsp;</div>
